<!-- 食材库存 -->
<!-- 显示内容 -->
<!-- top -->
<div>
    <span>食材名称：</span>
    <input type="text" class="int" name="searchtext">
    <input type="button" class="button" value="搜 索" onclick="return search();">
    <input type="button" class="button" value="添 加" onclick="return add();">
</div>
<!-- content -->
<div>
    <table class="list" style="text-align: center;">
        <thead>
            <tr>
                <td style="width: 120px;">操作</td>
                <td>食材名称</td>
                <td>库存量(g)</td>
                <td>过期时间</td>
                <td>备注</td>
                <td>录入时间</td>
            </tr>
        </thead>
        <tbody>
            <?php foreach($res as $k=>$v): ?>
            <tr>
                <td>
                    <a href='javascript:modify(<?php echo json_encode($v); ?>)'>修改</a> |
                    <a href="javascript:del('<?php echo $v['fiid'] ?>')">删除</a> |
                    <a href='javascript:use(<?php echo json_encode($v); ?>)'>取材</a>
                </td>
                <td>
                    <?php arEcho($v['food_name']); ?>
                </td>
                <td>
                    <?php arEcho($v['food_inventory']); ?>
                </td>
                <td>
                    <?php arEcho($v['overdue_time']); ?>
                </td>
                <td>
                    <?php arEcho($v['note'],'-'); ?>
                </td>
                <td>
                    <?php arEcho(date('Y-m-d H:i',$v['created_time'])); ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
<!-- bottom -->
<div>
    <?php echo($page->show()); ?>
</div>
<!-- 弹窗内容 -->
<form action="<?php echo arU(''); ?>" method="post" style="display: none;width: 868px;" id="edit_window">
    <table class="list" style="text-align: center;">
        <tr>
            <td>食材名称：</td>
            <td>
                <input type="text" name="food_name" class="int">
            </td>
            <td>食材量(g)：</td>
            <td>
                <input type="text" name="food_inventory" class="int">
            </td>
        </tr>
        <tr>
            <td>过期时间：</td>
            <td>
                <input type="text" name="overdue_time" class="int" onfocus="WdatePicker({dateFmt:&#39;yyyy-MM-dd&#39;})">
            </td>
            <td>备注：</td>
            <td>
                <input type="text" name="note" class="int">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <!-- 隐藏表单 -->
                <input type="hidden" name="type">
                <input type="hidden" name="fiid">
            </td>
            <td>
                <input type="submit" class="button" value="提 交">
            </td>
        </tr>
    </table>
</form>
<form action="<?php echo arU('') ?>" method="post" style="display: none;width: 868px;" id="use_window">
    <table class="list" style="text-align: center;">
        <tr>
            <td>食材名称：</td>
            <td>
                <input type="text" name="food_name" class="int">
            </td>
            <td>取出量(g)：</td>
            <td>
                <input type="text" name="food_inventory" class="int">
            </td>
        </tr>
        <tr>
            <td>备注：</td>
            <td>
                <input type="text" name="use_note" class="int">
            </td>
            <td>
                <!-- 隐藏表单 -->
                <input type="hidden" name="type">
                <input type="hidden" name="fiid">
            </td>
            <td>
                <input type="submit" value="提 交" class="button">
            </td>
        </tr>
    </table>
</form>
<!-- js内容 -->
<script>
function add() {
    $(".int").attr('value', '');
    $("[name = 'type']").attr('value', 'add');
    layer.open({
        title: '添加食材库存',
        type: 1,
        skin: 'layui-layer-lan',
        area: '900px',
        content: $('#edit_window')
    });
}
// 取材
function use(data){
    $("[name = 'type']").attr('value', 'use');
    // 填充表单万能写法
    for (var i in data) {
        $("[name='" + i + "']").attr('value', data[i]);
    }

    layer.open({
        title: '去取出食材库存',
        type: 1,
        skin: 'layui-layer-lan',
        area: '900px',
        content: $('#use_window')
    });
}
// 修改
function modify(data) {
    $("[name = 'type']").attr('value', 'modify');
    // 填充表单万能写法
    for (var i in data) {
        $("[name='" + i + "']").attr('value', data[i]);
    }

    layer.open({
        title: '修改食材库存',
        type: 1,
        skin: 'layui-layer-lan',
        area: '900px',
        content: $('#edit_window')
    });
}
// 删除
function del(fiid) {
    layer.confirm('确认删除?', function(index) {
        $.get('<?php echo arU('foodInventoryDel') ?>', {fiid: fiid},
            function(res) {
                if (res.success == '1') {
                    layer.msg('删除成功');
                    location.reload();
                } else {
                    layer.alert(res.ret_msg);
                }
                layer.close(index);
            }, 'json');
    });
}
// 搜索
function search() {
    var searchtext = $("[name='searchtext']").val();
    window.location.href = JSV.PATH_CURRENT + '?searchtext=' + searchtext;
}
</script>
<!-- 测试内容 -->
<pre>
<?php 

 ?>
</pre>
