
        <div class="page-right">
            <div class="header themeColor">
                <div class="header-title">开放日管理</div>
                <div class="header-right">
                    <a href="../../main/view/index.html" class="mynav" style="background:url(../img/head.png) no-repeat -10px -180px;"><span>我的桌面</span></a>
                    <a href="javascript:" class="mynav" style="background:url(../img/head.png) no-repeat -10px -60px;"><span>提醒消息</span></a>
                    <a href="javascript:" class="mynav" style="background:url(../img/head.png) no-repeat -10px -120px;"><span>系统皮肤</span></a>
                </div>
            </div>
            <div class="main" style="overflow: hidden;">
                <!-- ！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！ -->
                <div style="background-color: #F4F4F4;padding-left:20px;font-size: 12px;border-bottom:1px #DAD8D4 solid;">
                    <span style="display: inline-block;width: 190px;padding:10px;">

                        <span style="display: inline-block;padding: 0 10px 10px 0;border-right: 1px #DAD8D4 solid;">
                            学期:&nbsp;
                                        <select name="" id="" style="width: 120px;border: 1px solid #DAD8D4;">
                                            <option value="">请选择</option>
                                            <option value="">2016下学期</option>
                                        </select>
                        </span>
                    <span style="display: inline-block;padding: 0 10px 0px 0;border-right: 1px #DAD8D4 solid;">
                            类型:&nbsp;
                                        <select name="" id="" style="width: 120px;border: 1px solid #DAD8D4;">
                                            <option value="">请选择</option>
                                            <option value="">园内</option>
                                            <option value="">园外</option>
                                        </select>
                        </span>
                    </span>
                    <span style="display: inline-block;width: 200px;padding:10px 10px 10px 0px;">

                        <span style="display: inline-block;padding: 0 10px 10px 12px;border-right: 1px #DAD8D4 solid;">
                            班级:&nbsp;
                                        <select name="" id="" style="width: 120px;border: 1px solid #DAD8D4;">
                                            <option value="">请选择</option>
                                            <option value="">大班1班</option>
                                            <option value="">托管1班</option>
                                        </select>
                        </span>
                    <span style="display: inline-block;padding: 0 10px 0px 0;border-right: 1px #DAD8D4 solid;">
                            负责人:&nbsp;
                                        <select name="" id="" style="width: 120px;border: 1px solid #DAD8D4;">
                                            <option value="">请选择</option>
                                            <option value="">郑老师</option>
                                            <option value="">杨老师</option>
                                        </select>
                        </span>
                    </span>
                    <span style="vertical-align: baseline;vertical-align: 15px;">
                        <input style="margin:0px 20px 0 20px; " class="etm-button" type="button" value="搜素">
                        <input class="etm-button" type="button" value="添加">
                        <input style="margin:0px 0px 0 20px; " class="etm-button" type="button" value="批量删除">
                    </span>
                </div>
                <div name="表格">
                    <table cellspacing="0" class="etm-Tab" cellpadding="0">
                        <tr>
                            <td style="width: 50px;">
                                <input type="checkbox" name="hobby" value="" onclick="wholecheck()" />
                            </td>
                            <td>操作</td>
                            <td>班级名称</td>
                            <td>学期</td>
                            <td>日期</td>
                            <td>课程</td>
                            <td>类型</td>
                            <td>家长反馈</td>
                            <td>老师总结</td>
                            <td>状态</td>
                            <td>是否收费</td>
                            <td>负责人</td>
                            <td>备注</td>
                        </tr>
                        <tr class="for-hover">
                            <td style="width: 50px;">
                                <input type="checkbox" name="hobby" name="" value="" />
                            </td>
                            <td>
                                <a href="javascript: " style="color: #FF6600;">[修改]</a>
                                <a href="javascript: " style="color: #FF6600;">[参加名单]</a>
                                <a href="javascript: " style="color: #FF6600;">[删除]</a>
                            </td>
                            <td>托管1班</td>
                            <td>2016下学期</td>
                            <td style="color: #FF6600;">2016-04-09</td>
                            <td>活动</td>
                            <td>园内</td>
                            <td>待反馈</td>
                            <td>待总结</td>
                            <td>未结束</td>
                            <td>否</td>
                            <td>李梅</td>
                            <td>暂无</td>
                        </tr>
                        <tr class="for-hover">
                            <td style="width: 50px;">
                                <input type="checkbox" name="hobby" name="" value="" />
                            </td>
                            <td>
                                <a href="javascript: " style="color: #FF6600;">[修改]</a>
                                <a href="javascript: " style="color: #FF6600;">[参加名单]</a>
                                <a href="javascript: " style="color: #FF6600;">[删除]</a>
                            </td>
                            <td>托管1班</td>
                            <td>2016下学期</td>
                            <td style="color: #FF6600;">2016-04-09</td>
                            <td>活动</td>
                            <td>园内</td>
                            <td>待反馈</td>
                            <td>待总结</td>
                            <td>未结束</td>
                            <td>否</td>
                            <td>李梅</td>
                            <td>暂无</td>
                        </tr>
                        <tr class="for-hover">
                            <td style="width: 50px;">
                                <input type="checkbox" name="hobby" name="" value="" />
                            </td>
                            <td>
                                <a href="javascript: " style="color: #FF6600;">[修改]</a>
                                <a href="javascript: " style="color: #FF6600;">[参加名单]</a>
                                <a href="javascript: " style="color: #FF6600;">[删除]</a>
                            </td>
                            <td>托管1班</td>
                            <td>2016下学期</td>
                            <td style="color: #FF6600;">2016-04-09</td>
                            <td>活动</td>
                            <td>园内</td>
                            <td>待反馈</td>
                            <td>待总结</td>
                            <td>未结束</td>
                            <td>否</td>
                            <td>李梅</td>
                            <td>暂无</td>
                        </tr>
                        <tr class="for-hover">
                            <td style="width: 50px;">
                                <input type="checkbox" name="hobby" name="" value="" />
                            </td>
                            <td>
                                <a href="javascript: " style="color: #FF6600;">[修改]</a>
                                <a href="javascript: " style="color: #FF6600;">[参加名单]</a>
                                <a href="javascript: " style="color: #FF6600;">[删除]</a>
                            </td>
                            <td>托管1班</td>
                            <td>2016下学期</td>
                            <td style="color: #FF6600;">2016-04-09</td>
                            <td>活动</td>
                            <td>园内</td>
                            <td>待反馈</td>
                            <td>待总结</td>
                            <td>未结束</td>
                            <td>否</td>
                            <td>李梅</td>
                            <td>暂无</td>
                        </tr>
                        <tr class="for-hover">
                            <td style="width: 50px;">
                                <input type="checkbox" name="hobby" name="" value="" />
                            </td>
                            <td>
                                <a href="javascript: " style="color: #FF6600;">[修改]</a>
                                <a href="javascript: " style="color: #FF6600;">[参加名单]</a>
                                <a href="javascript: " style="color: #FF6600;">[删除]</a>
                            </td>
                            <td>托管1班</td>
                            <td>2016下学期</td>
                            <td style="color: #FF6600;">2016-04-09</td>
                            <td>活动</td>
                            <td>园内</td>
                            <td>待反馈</td>
                            <td>待总结</td>
                            <td>未结束</td>
                            <td>否</td>
                            <td>李梅</td>
                            <td>暂无</td>
                        </tr>
                    </table>
                </div>
                <!-- 后台添加的部分 -->
                <!-- 后台添加的部分 -->
                <div style="font-size: 12px;background-color: #F4F4F4;height: 30px;line-height: 30px;position: fixed;width:100%;border-bottom:1px #DAD8D4 solid;border-top:1px #DAD8D4 solid;bottom: 10px;padding-bottom: 35px;">
                    <span style="border-right: 1px #DAD8D4 solid;padding: 0px 10px 0px 10px ;">
                            <span style="margin:0px 5px 0px 25px;">显示</span>
                    <select name="" id="">
                        <option value="">10</option>
                        <option value="">20</option>
                        <option value="">30</option>
                    </select>
                    <span>条/页</span>
                    </span>
                    <a href="../../main/view/index.html" style="color: #46626A;margin-left:10px; ">首页</a>
                    <span style="border-right: 1px #DAD8D4 solid;padding-right: 10px;">
                        <a href="../../main/view/index.html" style="color: #46626A;margin-left:10px; ">上一页</a>
                    </span>
                    <span style="border-right: 1px #DAD8D4 solid;padding: 0px 10px 0px 10px;">

                        第 <input style="width: 50px;height: 15px;vertical-align: baseline;" placeholder="1" type="text"> 页

                        <input style="vertical-align: baseline;" type="button" class="etm-button" value="转 到">
                    <!-- 页数更改 -->
                         <span style="font-size: 12px;">共 <span>1</span> 页</span>
                    <!-- 页数更改 -->
                    </span>
                    <span style="border-right: 1px #DAD8D4 solid;padding: 0px 10px 0px 10px;">
                            <a href="javascript: "  style="color: #46626A;margin-right:10px;">下一页</a>
                            <a href="javascript: "  style="color: #46626A;">末尾页</a>
                    </span>
                    <span style="border-right: 1px #DAD8D4 solid;padding: 0px 10px 0px 10px;margin-right: 10px;">
                        <input style="vertical-align: baseline;" type="button" class="etm-button" value="刷 新">
                    </span>
                    <!--  -->
                    显示从 <span>1</span>条数据 到 <span>1</span>条数据 共 <span>1</span> 数据
                    <!--  -->
                </div>
            <script>
                var flag = 1;
                $(function() {
                    $("#hdqd").hover(function() {
                        $(this).addClass("etm-tabSelected");
                    }, function() {
                        $(this).removeClass("etm-tabSelected");
                    });
                    $("#hdqdjl").hover(function() {
                        $(this).addClass("etm-tabSelected");
                    }, function() {
                        $(this).removeClass("etm-tabSelected");
                    });
                })

                function wholecheck() {
                    if (flag) {
                        var hobby = document.getElementsByName("hobby");
                        for (var i = 0; i < hobby.length; i++) {
                            hobby[i].checked = true;
                        }
                        flag = 0;
                        // 任务1
                    } else {
                        var hobby = document.getElementsByName("hobby");
                        //alert(hobby.length);
                        for (var i = 0; i < hobby.length; i++) {
                            hobby[i].checked = false;
                        }
                        flag = 1;
                        // 任务2
                    }
                }
            </script>
                <!-- ！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！ -->
            </div>
        </div>
    </div>