#lockScreenPage{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 99990524;
    background-image: url('../img/8.jpg');
    background-size: cover;
}
#unlock{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 350px;
    margin-left: -175px;
    height: 35px;
    margin-top: -17px;
    box-sizing: border-box;
}
#unlock .form-item{
    display: table;
    position: relative;
    overflow: hidden;
}
#unlock .form-item .lock-label{
    display: table-cell;
    border: 1px solid #0078d7;
    border-right: 0;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px 0 0 5px;
    padding: 0 5px;
    color: #3f3f3f;
    font-size: 14px;
    box-sizing: border-box;
}
#unlock .form-item .lock-control{
    display: table-cell;
    padding: 0;
    border: 1px solid #0078d7;
    width: 250px;
    height: 35px;
    text-indent: 5px;
    line-height: 35px;
    color: #333;
    background-color: transparent;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
}
#unlock .form-item .lock-tips{
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    height: 35px;
    line-height: 35px;
    padding: 0 8px;
    font-size: 14px;
    color: #c33;
    cursor: text;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    -webkit-transform: translate(20px,0);
    -ms-transform: translate(20px,0);
    transform: translate(20px,0);
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
}
#unlock .form-item .lock-tips.is-visible{
    visibility: visible;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}
#unlock .unlockBtn{
    position: absolute;
    right: 0;
    top: 0;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #0078d7;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    color: #00e;
    box-sizing: border-box;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?wzryi5');
    src:    url('../fonts/icomoon.eot?wzryi5#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?wzryi5') format('truetype'),
        url('../fonts/icomoon.woff?wzryi5') format('woff'),
        url('../fonts/icomoon.svg?wzryi5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right2:before {
    content: "\ea3c";
}
