<!-- 幼儿考勤 -->
<!-- 显示内容 -->
<!-- top -->
<div>
    <span>幼儿姓名：</span>
    <input type="text" class="int" name="bname">
    <span>考勤日期：</span>
    <input type="text" class="int" name="today" onfocus="WdatePicker({dateFmt:&#39;yyyy-MM-dd&#39;})">
    <!-- <span>考勤月份：</span>
    <input type="text" class="int"> -->
    <input type="button" class="button" onclick="return search();" value="搜 索">
    <input type="button" class="button" onclick="return kaoqin();" value="打 卡">
</div>
<!-- content -->
<div>
    <table class="list" style="text-align: center;">
        <thead>
            <tr>
                <!-- <td style="width: 80px;">操作</td> -->
                <td>幼儿姓名</td>
                <td>幼儿班级</td>
                <td>考勤日期</td>
                <td>签到时间</td>
                <td>签退时间</td>
                <td>备注</td>
            </tr>
        </thead>
        <tbody>
            <?php foreach($res as $k=>$v): ?>
            <tr>
               <!--  <td class="caozuo">
                    <a href='javascript:modify(<?php echo json_encode($v); ?>)'>修改</a> |
                    <a href="javascript:del('<?php echo $v['baid'] ?>')">删除</a>
                </td> -->
                <td>
                    <?php arEcho($v['baby']['name']); ?>
                </td>
                <td>
                    <?php arEcho($v['class']['first_school_year'].'~'.$v['class']['last_school_year']); ?>
                    <?php arEcho($v['class']['class_name']); ?>
                </td>
                <td>
                    <?php arEcho(@date('Y-m-d',$v['today'])); ?>
                </td>
                <td>
                    <?php arEcho(@date('H:i:s',$v['on'])); ?>
                </td>
                <td>
                    <?php arEcho(@date('H:i:s',$v['off']),'-'); ?>
                </td>
                <td>
                    <?php arEcho($v['note'],'-'); ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
<!-- bottom -->
<div>
    <?php echo($page->show()); ?>
</div>
<!-- 弹窗内容 -->
<form action="<?php echo arU(''); ?>" method="post" style="display: none;width: 868px;" id="edit_window">
    <span>幼儿班级：</span>
    <?php
        // 调用用html seg 直接输出 select标签
        arSeg(
            array(
            // seg文件
            'segKey' => 'Html/select2',
            // <select name="name">
            'name' => 'cid',
            'id' => 'cid',
            // 适配器数据 数组
            // 'map' => EduClassroomModel::$TYPE_CLASS,
            // map 多维数组适配器
            'mapbundle' => array($cs, 'cid', 'SY'),
            // 选中的value selected = selected
            // 'selected' => $ad['type']
            )
        );
    ?>
    <span>幼儿姓名：</span>
    <!-- <input type="text" class="int" name="name"> -->
    <?php
        // 调用用html seg 直接输出 select标签
        @arSeg(
            array(
            'segKey' => 'Html/select2',
            'name' => 'bid',
            'id'    => 'bid',
            'map'   => '',
            )
        );
    ?>
    <!-- <span>幼儿编号：</span>
    <input type="text" class="int" name="bid"> -->
    <span>考勤类型：</span>
    <input type="radio" checked="checked" name="attendance_type" value="on">早上签到
    <input type="radio" name="attendance_type" value="off">下午签退
    <span>备注：</span>
    <input type="text" name="note" class="int">
    <!-- 隐藏表单 -->
    <input type="hidden" name="type">
    <input type="submit" class="button" value="打 卡"><br>
</form>
<!-- js内容 -->
<script>
function kaoqin() {
    $(".int").attr('value', '');
    $("[name = 'type']").attr('value', 'attendance');
    layer.open({
        title: '幼儿考勤',
        type: 1,
        skin: 'layui-layer-lan',
        area: '900px',
        content: $('#edit_window')
    });
}
// 修改
// function modify(data) {
//     $("[name = 'type']").attr('value', 'modify');
//     // 填充表单万能写法
//     for (var i in data) {
//         $("[name='" + i + "']").attr('value', data[i]);
//         if ((i == 'class_type') || (i == 'yid')) {
//             $("[name='" + i + "']").attr('value', '');
//         }
//     }

//     layer.open({
//         title: '修改班级',
//         type: 1,
//         skin: 'layui-layer-lan',
//         area: '900px',
//         content: $('#edit_window')
//     });
// }
// 删除
// function del(cid) {
//     layer.confirm('确认删除?', function(index) {
//         $.get('<?php echo arU('
//             classDel ') ?>', {
//                 cid: cid
//             },
//             function(res) {
//                 if (res.success == '1') {
//                     layer.msg('删除成功');
//                     location.reload();
//                 } else {
//                     layer.alert(res.ret_msg);
//                 }
//                 layer.close(index);
//             }, 'json');
//     });
// }
// 搜索
function search() {
    var bname = $("[name='bname']").val();
    var today = $("[name='today']").val();
    window.location.href = JSV.PATH_CURRENT+'?bname='+bname+'&today='+today;
}
</script>

<script>
$("[name='cid']").change(function() {
    var cid = document.getElementById('cid').value;
    $.post("<?php echo arU('Senate/getbabysByCid') ?>", {
            cid: cid,
        },
        function(res) {
            var res = eval(res);
            var sel = document.getElementById('bid');
            sel.options.length = 0; //清空原来的项，如果不想清空去掉这句
            if (res.length == 0) {
                sel.options.add(new Option('请选择',''))
            } else {
                for (var i = 0; i < res.length; i++) {
                    sel.options.add(new Option(res[i].name, res[i].bid));
                }
            }
        });
});
</script>
<!-- 测试内容 -->
<pre>
<?php 
    // print_r($res);
?>
</pre>
