<div class="top" style="margin:10px">
		<form enctype="multipart/form-data" method="get" action="<?php echo arU();?>" >
			<table class="search">
	            <tr>
	                <td class="textAlignRight" style="width: 78px;">退费日期：
	                </td>
	                <td class="borderRight" style="width: 172px;">
	                    <input type="text" class="int" id="tbStartDate" name="charge1" value="<?php echo arRequest('charge1');?>" style="width: 70px;" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" /> -
	                    <input type="text" class="int" id="tbEndDate" name="charge2" value="<?php echo arRequest('charge2');?>" style="width: 70px;" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
	                </td>

	                <td class="textAlignRight" style="width: 66px;">单据号：
	                </td>
	                <td class="borderRight" style="width: 160px;">
	                    <input type="text" class="int" id="tbBillNo" value="<?php echo arRequest('serialnumber'); ?>" name="serialnumber" />
	                </td>
	                <td class="textAlignRight" style="width: 78px;">退费月份：
	                </td>
	                <td class="borderRight" style="width: 92px;">
	                    <input type="text" class="int" id="TutionInDate" value="<?php echo arRequest('chargeYmd');?>" name="returnYmd" style="width: 72px;" onfocus="WdatePicker({dateFmt:'yyyy-MM'})" />
	                </td>
	                <td style="padding-left: 20px">
	                    <input type="submit" id="btnSearch" style="width:80px;" class="button" value="搜 索" /> &nbsp;
	                </td>
	            </tr>
	            <tr>
	                <td class="textAlignRight">幼儿姓名：
	                </td>
	                <td class="borderRight">
	                    <input type="text" class="int" style="width:152px;" id="tbMemberName" value="<?php echo arRequest('babyname');?>" name="babyname" />
	                </td>
	                <td class="textAlignRight">状态：</td>
	                <td class="borderRight">
	                    <?php
				            // 调用用html seg 直接输出 select标签
				            arSeg(
				                array(
				                    // seg文件
				                    'segKey' => 'Html/select',
				                    // <select name="name">
				                    'name' => 'status',
				                    // 加ID属性
				                    // 'extra' => 'id="choseBaby"',
				                    // 适配器数据 数组
				                     'map' => BabyChargeModel::$STATUS_MAP,
				                    // map 多维数组适配器
				                    // 'mapbundle' => array($choseBaby, 'bid', 'name'),
				                    // 选中的value selected = selected
				                    'selected' => arRequest('status')
				                )
				            );
				        ?>
	                </td>
	                
	            </tr>
	        </table>
	    </form>
    </div>

    </div>
        <div id="P_Data">
            <table class="list" style="text-align: center;">
                <thead>
                    <tr>
                        <td style="width: 120px;">操作</td>
                        <td>单据号</td>
                        <td>收费学期</td>
                        <td>幼儿姓名</td>
                        <td>退费金额</td>
                        <td>退费日期</td>
                        <td>状态</td>
                        <td>经办人</td>
                        <td>备注</td>
                    </tr>
                </thead>
                <tbody>
                <?php if($charge):foreach($charge as $auth):?>
                    <tr>
                        <td class="caozuo">
                        	<a href='javascript:shenhe(<?php echo json_encode($auth); ?>)'>审核</a>|
                            <a href='javascript:modify(<?php echo json_encode($auth); ?>)'>修改</a>|
                           <a href="javascript:del('<?php echo $auth['rcid'] ?>')">删除</a></td>
                        <td><?php arEcho($auth['serialnumber'],'-'); ?></td>
                        <td><?php arEcho($auth['xueqi'],'-'); ?></td>
                        <td><?php arEcho($auth['bname'],'-'); ?></td>
                        <td><?php arEcho($auth['returncharge'],'-'); ?></td>
                        <td><?php arEcho($auth['returnday'],'-'); ?></td>
                        <td><?php arEcho($auth['statusH'],'-'); ?></td>
                        <td><?php arEcho($auth['opname'],'-'); ?></td>
                        <td><?php arEcho($auth['remark'],'-'); ?></td>
                    </tr>
                <?php endforeach;endif; ?>
                </tbody>
                <tr>
                    <td colspan="11"><?php echo $pagelist; ?></td>
                </tr>
            </table>
        </div>

<!--弹出框 修改-->
<form enctype="multipart/form-data" id="add_window" method="post" action="<?php echo arU();?>" style="display:none;width:800px;" >
			<table class="edit">
			<input name="rcid" type="hidden" />
	            <tr>
	                <td class="textAlignRight">幼儿：</td>
	                <td colspan="5">
	                    <span id="lbMember"></span>
	                    <input name="bname" value="" /><span class="words">&nbsp;*</span>
	                </td>
	            </tr>
	            <tr> 
	                <td class="textAlignRight" style="width: 80px;">退费日期：
	                </td>
	                <td class="borderRight" style="width: 205px;">
	                    <input name="returnday" type="text" value="<?php echo date('Y-m-d', time());?>" class="int" onfocus="WdatePicker({dateFmt:&#39;yyyy-MM-dd&#39;,onpicked:function(dp){pickedFuncChar(dp.cal.getNewDateStr());}})" />
	                   
	                </td>
	            </tr>
	            <tr>
	                <td class="textAlignRight">收费帐号：
	                </td>
	                <td class="borderRight" id="backCards">
	                <?php
	                    // 调用用html seg 直接输出 select标签
	                    arSeg(
	                        array(
	                            // seg文件
	                            'segKey' => 'Html/select',
	                            // <select name="name">
	                            'name' => 'returntype',
	                            // 适配器数据 数组
	                            'map' => BabyChargeModel::$CHARGETYPE_MAP,
	                            // map 多维数组适配器
	                            // 'mapbundle' => array(array(), 'keyfield', 'showfield')),
	                            // 选中的value selected = selected
	                            // 'selected' => isset( $auth['hiringway'] )? $auth['hiringway'] :''
	                            // 'selected' => $auth['hiringway']
	                        )
	                    );
	                ?>
	                银行卡号：<input name="backcard" type="text" value="" />
	                
	                </td>

	                <td class="textAlignRight">退费金额：
	                </td>
	                <td class="borderRight">
	                    <input name="returncharge" type="text" value="" class="int" style="text-align: right;" />
	                </td>
	            </tr>
	            <tr>
	                <td class="textAlignRight">单据号：</td>
	                <td class="borderRight">
	                    <input name="serialnumber" type="text" class="int" />
	                </td
	            </tr>
	            <tr>
		            <td class="textAlignRight">收费模式：</td>
	                <td colspan="5">
	                <?php
	                    // 调用用html seg 直接输出 select标签
	                    arSeg(
	                        array(
	                            // seg文件
	                            'segKey' => 'Html/select',
	                            // <select name="name">
	                            'name' => 'returnway',
	                            // 适配器数据 数组
	                            'map' => BabyChargeModel::$CHARGEWAY_MAP,
	                            // map 多维数组适配器
	                            // 'mapbundle' => array(array(), 'keyfield', 'showfield')),
	                            // 选中的value selected = selected
	                            // 'selected' => isset( $auth['hiringway'] )? $auth['hiringway'] :''
	                            // 'selected' => $auth['hiringway']
	                        )
	                    );
	                ?>
	                    <span id="spanTerm">
	                        <?php
						      // 调用用html seg 直接输出 select标签
						      arSeg(
						         array(
						            // seg文件
						            'segKey' => 'Html/select',
						            // <select name="name">
						            'name' => 'studyyear',
						            // 适配器数据 数组
						            // 'map' => BabyModel::$ATTENTION_TYPE_MAP,
						            // map 多维数组适配器
						            'mapbundle' => array($schoolYear, 'yid', 'school_year'),
						            // 选中的value selected = selected
						            //'selected' => $auth['studyyear']
						         )
						      );
						?>
	                    </span>
	                </td>
	            </tr>
	            <tr>
	                <td class="textAlignRight">备注：
	                </td>
	                <td colspan="5">
	                    <textarea name="remark" rows="2" cols="20" id="tbNotes" class="int" style="width: 678px; height: 47px;">
	                    </textarea>
	                </td>
	            </tr>
	            <tr>
	                <td colspan="6" class="borderBottom"></td>
	            </tr>
	            <tr>
	                <td colspan="6" style="text-align: center;">
	                    <input type="submit" value="提 交" class="button" />
	                </td>
	            </tr>
	        </table>
		</form>
<!--弹出框-->
	<div id="status_window" style="display:none;width:800px;" >
		<form method="get" action="<?php echo arU('shenhe', array('url' => 'refundManage'))?>">
			<input name="rcid" type="hidden" value="" />
			<td class="textAlignRight">状态：</td>
		    <td class="borderRight">
		        <?php
		            // 调用用html seg 直接输出 select标签
		            arSeg(
		                array(
		                    // seg文件
		                    'segKey' => 'Html/select',
		                    // <select name="name">
		                    'name' => 'status',
		                    // 加ID属性
		                    // 'extra' => 'id="status_edit"',
		                    // 适配器数据 数组
		                     'map' => BabyChargeModel::$STATUS_MAP,
		                    // map 多维数组适配器
		                    // 'mapbundle' => array($choseBaby, 'bid', 'name'),
		                    // 选中的value selected = selected
		                    // 'selected' => isset( $auth['belongclass'] )? $auth['belongclass'] :''
		                )
		            );
		        ?>
		    </td>
		   	<input type="submit"  value="确 定" class="button" />
		</form>    
	</div>
<script type="text/javascript"></script>
<script>
	// 增加
    function add()
    {
        $("[name='nid']").attr('value', '');
        layer.open({
            title:'添加通知',
            type: 1,
            area:'900px',
            content: $('#add_window') //这里content是一个DOM
        });
    }

    // 删除
    function del(nid)
    {
        layer.confirm('确认删除?', function(index){
            $.get('<?php echo arU('del', array('url' => 'refundManage')); ?>', {rcid:nid}, function (res) {
                if (res.success == '1') {
                    layer.msg('删除成功');
                    location.reload();
                } else {
                    layer.alert(res.ret_msg);
                }
                layer.close(index);
            }, 'json');
        });
    }

    // 审核
    function shenhe(data)
    {
        layer.confirm('确认审核?', function(index){
        	// 填充表单万能写法
	        for (var i in data) {
	            $("[name='" + i + "']").val(data[i]);
	        }
        	// 选择的状态
        	layer.open({
	            title:'选择状态',
	            type: 1,
	            area:'900px',
	            content: $('#status_window') //这里content是一个DOM
        	}); 
        });
    }

    // data
    function modify(data)
    {
        // 填充表单万能写法
        for (var i in data) {
            $("[name='" + i + "']").val(data[i]);
        }

        layer.open({
            title:false,
            type: 1,
            area:'900px',
            content: $('#add_window') //这里content是一个DOM
        });

    }

    function rbCheck(v) {
        if (v == "M") {
            $("#spanMonth").removeClass("hidden");
            $("#spanTerm").addClass("hidden");
        } else if (v == "T") {
            $("#spanMonth").addClass("hidden");
            $("#spanTerm").removeClass("hidden");
        }
    }
</script>