    <form method="post" method="post" action="<?php echo arU(''); ?>" id="add_window" style="display:none;width:800px" >
        <table class="search">
            <tr>
                <td class="textAlignRight" style="width: 78px;">分组名称：
                </td>
                <td class="borderRight" style="width: 160px;">
                    <input name="name" type="text" class="int" />
                    <input name="sid" type="hidden" value="" />
                </td>

                <td class="textAlignRight" style="width: 78px;">上级分组：
                </td>
                <td class="borderRight" style="width: 160px;">
<?php
      // 调用用html seg 直接输出 select标签
      arSeg(
         array(
            // seg文件
            'segKey' => 'Html/select',
            // <select name="name">
            'name' => 'psid',
            // 适配器数据 数组
            //'map' => AdModel::$TYPE_MAP,
            // map 多维数组适配器
            // 'mapbundle' => array(array(), 'keyfield', 'showfield')),
            'mapbundle' => array($postLevel, 'sid', 'name'),
            // 选中的value selected = selected
            // 'selected' => $ad['type']
         )
      );
?>
                </td>

                 <td class="textAlignRight" style="width: 78px;">排序:
                </td>
                <td class="borderRight" style="width: 160px;">
                    <input name="sorder" type="text" class="int" />
                </td>

                <td style="padding-left: 20px;">
                    <input type="submit" name="btnAdd" value="保存" class="button" />
                </td>
            </tr>
            <tr>
                <td class="textAlignRight">
                    分组描述：
                </td>
                <td class="borderRight" colspan="5">
                    <input name="des" type="text"  style="width:620px;">
                </td>
            </tr>
        </table>
    </form>
        <input type="button" name="btnAdd" value="添 加" onclick="return add();" id="btnAdd" class="button" />
        <div id="P_Data">
            <table class="list" style="text-align: center;">
                <thead>
                    <tr>
                        <td style="width: 120px;">操作</td>
                        <td>分组名称</td>
                        <td>上级分组</td>
                        <td>排序</td>
                        <td>备注</td>
                    </tr>
                </thead>
                <tbody>
                    <?php if($posts):foreach($posts as $post): ?>
                    <tr>
                        <td class="caozuo">
                           <a href='javascript:modify(<?php  echo json_encode($post); ?>)'>修改</a>|<a href="javascript:del('<?php echo $post['sid'] ?>')">删除</a>
                        </td>
                        <td><?php arEcho($post['name'],'未定义'); ?></td>
                        <td><?php arEcho($post['parent_name'], '-'); ?></td>
                        <td><?php arEcho($post['sorder'],' '); ?></td>
                        <td><?php arEcho($post['des'],' '); ?></td>
                        <td style="text-align:left;"></td>
                    </tr>
                    <?php endforeach;endif; ?>
                </tbody>
            </table>
        </div>

<script>
    // 增加
    function add()
    {
        $("[name='sid']").attr('value', '');
        layer.open({
            title:false,
            type: 1,
            area:'800px',
            content: $('#add_window') //这里content是一个DOM
        });
    }

    // 删除
    function del(sid)
    {
        layer.confirm('确认删除?', function(index){
            $.get('<?php echo arU('setDel') ?>', {sid:sid}, function (res) {
                if (res.success == '1') {
                    layer.msg('删除成功');
                    location.reload();
                } else {
                    layer.alert(res.ret_msg);
                }
                layer.close(index);
            }, 'json');
        });
    }

    // data
    function modify(data)
    {
        $("[name='name']").attr('value', data.name);
        $("[name='sid']").attr('value', data.sid);
        $("[name='des']").attr('value', data.des);
        $("[name='sorder']").attr('value', data.sorder);
        $("[name='psid']").attr('value', data.psid);

        layer.open({
            title:false,
            type: 1,
            area:'800px',
            content: $('#add_window') //这里content是一个DOM
        });

    }
</script>