
<div class="top" style="margin:10px">
    <form method="get" action="" > 
        <table class="search">
            <tr>
                <td colspan="7" style="text-align: center;">月份：
                    <input name="Ymd" type="text" value="<?php echo arRequest('Ymd');?>" id="tbDate" class="int" onfocus="WdatePicker({ onpicked:function(){change();},dateFmt: &#39;yyyy-MM&#39; });" style="text-align: center; width: 90px;" /> &nbsp;
                    <!-- <span>本月工作日&nbsp;&nbsp;<span id="lbWorkDayCount" class="words" style="font-size:18px;">29</span> &nbsp;天 -->
                    </span>
                </td>
                <td class="mid" style="width: 78px;">员工姓名：
                </td>
                <td class="borderRight" style="width: 80px;">
                    <?php
                        // 调用用html seg 直接输出 select标签
                        arSeg(
                            array(
                                // seg文件
                                'segKey' => 'Html/select',
                                // <select name="name">
                                'name' => 'mid',
                                // 适配器数据 数组
                                //'map' => U_company_school_member_recordModel::$MARRAGEED_MAP,
                                // map 多维数组适配器
                                  'mapbundle' => array($teacher, 'mid', 'realname'),
                                // 选中的value selected = selected
                                // 'selected' => isset( $auth['belongclass'] )? $auth['belongclass'] :''
                                'selected' => arRequest('mid')
                            )
                        );
                    ?>
                </td>
               
                <td colspan="7" style="padding-left: 83px;">
                    <span style='width: 60px;'>√</span>：正常上班 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style='width: 60px; background-color: red;'>X</span>：不正常上班 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style='width: 60px; background-color: blue;'>X</span>：未上班 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="width: 60px; background-color: yellow">休</span>：休息
                </td>
               
                <td style="padding-left: 20px;">
                    <input type="submit" value="搜索"  class="button" />
                    <!-- <input type="button" name="btnAdd" value="添 加" onclick="return add();" id="btnAdd" class="button" /> -->
                </td>
            </tr>
        </table>    
    </form>
</div>
<div id="div_list">
            <table class='list' style='text-align:center;'>
                <thead>
                    
                    <tr>
                        <td>教师姓名</td>
                        <?php
                            if($howDays && $whatDay):
                                foreach($howDays as $ss => $vhowDays):
                        ?>
                        <td><?php echo $vhowDays.'<br>'.$whatDay[$ss];?></td>
                        <?php
                                endforeach;
                            endif;
                        ?>
                        <td>应该工作的天数</td>
                        <td>正常上班天数</td>
                        <td>不正常上班天数</td>
                    </tr>
                </thead>
                <tbody>

                    <!-- <tr>
                        <td></td>
                        <?php
                            //if($whatDay):
                             //   foreach($whatDay as $vv):
                        ?>
                        <td><?php //echo $vv;?></td>
                        <?php
                                //endforeach;
                            //endif;
                        ?>
                        <td></td>
                        <td></td>
                        <td></td>   
                    </tr> -->

                    <?php if($list): foreach($list as $value):?>
                    <tr>
                        <td><?php echo $value['realname'];?></td>
                        <?php if(isset($value['month']) && $value['month']): foreach($value['month'] as $m):?>
                        <td>
                            <?php
                                if(!isset($m['leaveF'])):
                                    echo '<span style="background-color: yellow">休</span>';
                                elseif(isset($m['leaveF']) && $m['leaveF']==0):
                                    echo '<span style="width: 60px;">√</span>';
                                elseif(isset($m['leaveF']) && $m['leaveF']==1):
                                    echo '<span style="width: 60px; background-color: red;">X</span>';
                                elseif(isset($m['leaveF']) && $m['leaveF']==2):
                                    echo '<span style="width: 60px; background-color: blue;">X</span>';
                                endif;
                            ?>
                        </td>
                        <?php endforeach;endif;?>
                        <td><?php echo $value['workDays'];?></td>
                        <td><?php echo $value['workingDays'];?></td>
                        <td><?php echo $value['leaveTimes'];?></td>
                    </tr>
                <?php endforeach;endif;?>
                    
                </tbody>
            </table>
        </div>


<pre>
    
<?php 
// var_dump($list);
 ?>
</pre>
