<form class="office-form">
    <table class="table">
        <tr>
            <td width="100px" class="textRight">名称：</td>
            <td class="borderRight" width="330px">
                <input type="text" name="name" value="" style="width:300px;">
            </td>
            <td width="80px" class="textRight">负责人：</td>
            <td>
                <input type="text" name="name" value="" style="width:100px;">
            </td>
            <td style="text-align:right;padding-right:25px;">
                <input type="submit" name="name" value="保存" class="submitBtn">
            </td>
        </tr>
        <tr>
            <td width="100px" class="textRight">地址：</td>
            <td class="borderRight" width="330px">
                <input type="text" name="name" value="" style="width:300px;">
            </td>
            <td width="80px" class="textRight">办园时间：</td>
            <td>
                <input type="text" name="name" value="" style="width:100px;" onfocus="WdatePicker();">
            </td>
        </tr>
        <tr>
            <td width="100px" class="textRight">联系方式：</td>
            <td class="borderRight" width="330px">
                <input type="text" name="name" value="" style="width:100px;">
            </td>
            <td width="80px" class="textRight">职工人数：</td>
            <td>
                <input type="text" name="name" value="" style="width:100px;">
            </td>
        </tr>
        <tr>
            <td width="100px" class="textRight">园区班级数：</td>
            <td class="borderRight" width="330px">
                <input type="text" name="name" value="" style="width:100px;">
            </td>
            <td width="80px" class="textRight">老师人数：</td>
            <td>
                <input type="text" name="name" value="" style="width:100px;">
            </td>
        </tr>
        <tr>
            <td width="100px" class="textRight">在校幼儿数：</td>
            <td>
                <input type="text" name="name" value="" style="width:100px;">
            </td>
        </tr>
        <tr>
            <td width="100px" class="textRight">奖项：</td>
            <td colspan="3">
                <textarea name="tbAwards" id="tbAwards" style="width: 515px; height: 50px;" class="int" cols="40" rows="2">aads</textarea>
            </td>
        </tr>
        <tr>
            <td width="100px" class="textRight">简介：</td>
            <td colspan="3">
                <textarea name="tbIntro" id="tbIntro" style="width: 515px; height: 50px;" class="int" cols="40" rows="2">af</textarea>
            </td>
        </tr>
        <tr>
            <td width="100px" class="textRight">备注：</td>
            <td colspan="3">
                <textarea name="tbNotes" id="tbNotes" style="width: 515px; height: 50px;" class="int" cols="40" rows="4">da</textarea>
            </td>
        </tr>
    </table>
</form>
