<div style="background-color: #F4F4F4;padding-left:20px;font-size: 12px;border-bottom:1px #DAD8D4 solid;">
    <span style="display: inline-block;width: 225px;padding:10px;">

                        <span style="display: inline-block;padding: 0 10px 10px 0;border-right: 1px #DAD8D4 solid;">
                            物品编码:&nbsp;
                                        <input class="table-secondline-input" type="text">
                        </span>

    </span>
    <span style="display: inline-block;width: 225px;padding:10px 10px 10px 0px;">

                        <span style="display: inline-block;padding: 0 10px 10px 0;border-right: 1px #DAD8D4 solid;">
                            物品名称:&nbsp;
                                        <input class="table-secondline-input" type="text">
                        </span>

    </span>


                <span style="display: inline-block;padding: 0 83px 0px 0;">
                            物品分类:&nbsp;
                                        <select name="" id="" style="border: 1px solid #DAD8D4;width: 120px;">
                                            <option value="">请选择</option>
                                            <option value="">玩具</option>
                                            <option value="">图书</option>
                                            <option value="">文具</option>
                                        </select>
                </span>


<div style="padding:0 0 10px 0; ">
    <input style="margin:0px 20px 0 10px; " class="etm-button" type="button" value="搜素">

    <input class="etm-button" type="button" value="添加">

    <input style="margin:0px 20px 0 20px; " class="etm-button" type="button" value="库存变动记录">

</div>



</div>
<div name="表格">
    <table cellspacing="0" class="etm-Tab" cellpadding="0">
        <tr>
            <td style="width: 50px;">
                <input type="checkbox" name="hobby" value="" onclick="wholecheck()" />
            </td>

            <td>物品编码</td>
            <td>物品名称</td>
            <td>物品分类</td>
            <td>库存</td>
            <td>是否商品</td>
            <td>采购价(元)</td>
            <td>零售价(元)</td>
            <td>租金(元/天)</td>
            <td>单位</td>
        </tr>
        <tr  class="for-hover">
            <td colspan="11">暂无相关数据··</td>
        </tr>
    </table>
</div>
<!-- 后台添加的部分 -->
<!-- 后台添加的部分 -->
<div style="font-size: 12px;background-color: #F4F4F4;height: 30px;line-height: 30px;position: fixed;width:100%;border-bottom:1px #DAD8D4 solid;border-top:1px #DAD8D4 solid;bottom: 0px;padding-bottom: 35px;">
    <span style="border-right: 1px #DAD8D4 solid;padding: 0px 10px 0px 10px ;">
                            <span style="margin:0px 5px 0px 25px;">显示</span>
    <select name="" id="">
        <option value="">10</option>
        <option value="">20</option>
        <option value="">30</option>
    </select>
    <span>条/页</span>
    </span>
    <a href="../../main/view/index.html" style="color: #46626A;margin-left:10px; ">首页</a>
    <span style="border-right: 1px #DAD8D4 solid;padding-right: 10px;">
                        <a href="../../main/view/index.html" style="color: #46626A;margin-left:10px; ">上一页</a>
                    </span>
    <span style="border-right: 1px #DAD8D4 solid;padding: 0px 10px 0px 10px;">

                        第 <input style="width: 50px;height: 15px;vertical-align: baseline;" placeholder="1" type="text"> 页

                        <input style="vertical-align: baseline;" type="button" class="etm-button" value="转 到">
                    <!-- 页数更改 -->
                         <span style="font-size: 12px;">共 <span>1</span> 页</span>
    <!-- 页数更改 -->
    </span>
    <span style="border-right: 1px #DAD8D4 solid;padding: 0px 10px 0px 10px;">
                            <a href="javascript: "  style="color: #46626A;margin-right:10px;">下一页</a>
                            <a href="javascript: "  style="color: #46626A;">末尾页</a>
                    </span>
    <span style="border-right: 1px #DAD8D4 solid;padding: 0px 10px 0px 10px;margin-right: 10px;">
                        <input style="vertical-align: baseline;" type="button" class="etm-button" value="刷 新">
                    </span>
    <!--  -->
    显示从 <span>1</span>条数据 到 <span>1</span>条数据 共 <span>1</span> 数据
    <!--  -->
</div>

<script>
$(function() {
    $("#hdqd").hover(function() {
        $(this).addClass("etm-tabSelected");
    }, function() {
        $(this).removeClass("etm-tabSelected");
    });
    $("#hdqdjl").hover(function() {
        $(this).addClass("etm-tabSelected");
    }, function() {
        $(this).removeClass("etm-tabSelected");
    });
})

function wholecheck() {
    if (flag) {
        var hobby = document.getElementsByName("hobby");
        for (var i = 0; i < hobby.length; i++) {
            hobby[i].checked = true;
        }
        flag = 0;
        // 任务1
    } else {
        var hobby = document.getElementsByName("hobby");
        //alert(hobby.length);
        for (var i = 0; i < hobby.length; i++) {
            hobby[i].checked = false;
        }
        flag = 1;
        // 任务2
    }
}
</script>
